body {
    font-family: 'Source Sans Pro', sans-serif;
    margin:0;
	padding:0;
}

div.upperbar {
	width: 100%;
	height: 65px;
	/*background-color: red;*/
	position: fixed;
	outline: 1px solid #EFEFEF;
	background-color: #FFF;

}

ul.u-menu {
	position: relative;
	width: 240px;
	height: 45px;
	left: 72%;
	display: block;
	top:11px;
	margin:0;
	padding: 0;
}

.pinico {
	float: left;
	margin-right: 20px;
	color: #BD081C;
	font-size: 32px;
	display:block;
	padding-left: 23px;
	top:15px;

}

.searchbar {
	position:fixed;
	height: 41px;
	width: 64%;
	left: 75px;
	background-color: #EFEFEF;
	z-index: 1;
	border-radius: 5px;

}

a.line {

	height: 39px;
	position: fixed;
	border-style: solid;
	border-color: #D8D8D8;
	border-width: 1px;
	border-right: 0;
	border-top: 0;
	border-bottom: 0;
	z-index: 1;
	left: 56%;
	top:12px;
	display: block;
}

a {
	position: relative;
	font-size: 16px;
	color:#555555;
	font-weight: 600;
	display: block;
	text-decoration: none;
    line-height: 0px;
	font-family: "Helvetica Neue", HelveticaNeue, 
	"TeX Gyre Heros", TeXGyreHeros, FreeSans, 
	"Nimbus Sans L", "Liberation Sans", Arimo,
	 Helvetica, Arial, sans-serif;
}

li.searchbar{

	top: 12px;
}

.u-menu {
	list-style: none;
}


.search p {
	position: fixed;
	z-index: 1;
	left: 120px;
	bottom: 575px;
	display: block;

}

i.fa.fa-search {
	position: fixed;
	font-size: 20px;
	color:#B5B5B5;
	display: inline-block;
	top:22px;
	left:90px;
}


li.search {
	position: fixed;
	top: 29px;
	font-size: 16px;
	color:#555555;
	display: inline-block;
	top:23px;
	left:125px;
	font-weight: 600;
	z-index: 1;
	width: 50%;
	font-family: "Helvetica Neue", HelveticaNeue, 
	"TeX Gyre Heros", TeXGyreHeros, FreeSans, 
	"Nimbus Sans L", "Liberation Sans", Arimo,
	 Helvetica, Arial, sans-serif;
}

p {
	position: relative;
	left: 10%;
	top: 8px;
	right: 20%;
	overflow: hidden;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	display: inline-block;
	font-size: 16px;
}

i.fa.fa-chevron-down {
	position: relative;
	display: inline-block;
	bottom: 1px;
	font-size: 20px;
	background-color: 
}

div.in{

	position: absolute;
	display: block;
	z-index: 1;
	font-size: 16px;
	overflow: hidden;
	height: 45px;
	width: 80px;
}

div.in h5 {
	position: inherit;
	color: #B5B5B5;
	z-index: 1;
	left: 20%;
	font-size: 16px;
	padding: 0;
	margin:0;
	top:22px;




}

.saico a {
	position: relative;
	display: block;
	z-index: 1;
	left: 26%;
	top:2px;
	width: 45px;
	height: 40px;
	margin:0;
	padding: 0;
}

.saico img {
	position: fixed;
	display: block;
	z-index: 1;
	left: 78%;
	right: 3%;
	height: 24px;
	width: 24px;
	margin:0;
	padding:0;
	top: 20px;
	
}

.fondo {
	position: absolute;
	background-image: url(gatos.jpg);
	width: 100%;
	height: 200%;
}

.s h4 {
	position: fixed;
	font-size: 16px;
	z-index: 1;
	color:#B5B5B5;
	right:15%;
	padding: 5px;
	top: 8px;
}

i.fa.fa-bars {
	position: absolute;
	z-index: 1;
	display:inline-block;
	left: 85%;
	top:8px;
	font-size: 28px;
	color: #B5B5B5;
	overflow: hidden;
}

i.fa.fa-commenting {
	position: absolute;
	z-index: 1;
	display:inline-block;
	left: 109%;
	top:8px;
	font-size: 28px;
	color: #B5B5B5;
	overflow: hidden;
}

i.fa.fa-ellipsis-h

{
	position: absolute;
	z-index: 1;
	display:inline-block;
	left: 135%;
	top:8px;
	font-size: 28px;
	color: #B5B5B5;
	overflow: hidden;
}

.buttons-menu{
	z-index: 1;
	height: 85px;
	width: 100%;
	top: 66px;
	position: fixed;
	background-color: red;
	font-family: "Helvetica Neue", HelveticaNeue, 
	"TeX Gyre Heros", TeXGyreHeros, FreeSans, 
	"Nimbus Sans L", "Liberation Sans", Arimo,
	 Helvetica, Arial, sans-serif;
}


.buttons-menu ul {
	position: fixed;
	z-index: 1;
	/*outline: 1px solid blue;*/
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: blue;
	line-height: 50px;
	overflow: auto;


}

li.des{
	/*outline: 1px solid red;*/
	width:100px;
	/*display: inline-block;*/
	text-align: center;
	float:left;
}

ul.a {
	/*outline: 1px solid green;*/
	text-decoration: none;
	color: #fff;
	display: block;
}
